@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-surface: #18181b;
  --color-surface-highlight: #27272a;
  --color-border: #27272a;
  
  --color-primary: #ffffff;
  --color-secondary: #a1a1aa;
  --color-muted: #71717a;
  
  --color-accent: #fafafa;
  --color-accent-dim: #52525b;
  
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-info: #3b82f6;
  
  --color-critical: #e11d48;
  --color-high: #f97316;
  --color-medium: #eab308;
  --color-low: #3b82f6;

  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
  
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
}

/* Custom Utilities */
@layer utilities {
  .glass-panel {
    @apply bg-surface/50 backdrop-blur-md border border-white/5;
  }
}

:root {
  --background: #09090b;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
